@CHARSET "UTF-8";


body{

	margin:0;
	height:0;
}
	.main{
	 width: 100vw;
  height: 100%;
margin : 0;

    background: -webkit-linear-gradient( #fff1eb 0%, #ace0f9 100%);


  background-size:cover;

   text-align: center;
	}