@CHARSET "UTF-8";
body{
	 margin: 0px;
    padding: 0px;

}

	.main{
	 width: 100vw;
  height: 100vh;
margin: 0;
  background: -moz-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7));
  background: -webkit-linear-gradient(65deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7));
  background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7));
  background-size:cover;

   text-align: center;
	}


	form{

	padding-top:10%;
	text-align:center;


	}